#body{
    background-color: #9dcee2;
    font-family: sans-serif;
}

.contenedor{
    border: black 2px solid;
    width: 90%;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    border: teal 1.5px solid;

}

.header-img{
    width: 50px;
    height: 50px;
    justify-content: left;
}

.header-texto{
    padding-left: 500px;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #ef3c2d;
}